@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@font-face{
    font-family: FonteLogo;
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
p{
    text-align: justify;
    text-indent: 50px;
}
body {
    background-color: #dddddd;
}
article.noticiaprincipal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0 5px 0;
}
header#cabecalho-artigo h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 20pt;
    color:#606060;
}
div#interface{
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0 auto;
    box-shadow: 0 0 10px black;
    padding: 10px 10px 10px 10px; /* pode ser somente um "10px"*/
}

header#cabecalho img#icone {
    position:absolute;
    left: 1000px;
    top: 50px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 152px;
    background-image: url("../_imagens/glass-logo-peq.jpg");
}

header#cabecalho h1 {
    font-family: 'Finger Paint', cursive;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0;
    margin-bottom: 0;

}
header#cabecalho h2{
    font-family: 'Lexend Zetta', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0;
    margin-top: 0;
}

/* Formatação de imagens com legendas*/



figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black ;

}

figure.foto-legenda img {
    width: 100%;
    height: 100%;

}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}



/* Formatação do menu */

nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu h1 {
    display: none;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
    text-decoration:underline ;

}
/* Seções do corpo da página */

section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
}
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{
    text-align: center;
}
table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}


